<div class="container" >

    <div class="row clearfix" >
        <legend>
            <%= @page_heading %> 
        </legend>
   
        <form id="updateprofile" class="form-horizontal" action="/updateprofile" method="POST">
            <div class="control-group">
                <label class="control-label" for="firstname">First Name</label>
                <div class="controls">
                    <input class="input-large" id="firstname" type="text" name="firstname" value="<%= @p.firstname.capitalize %>" />
                </div>
            </div>
            

            <div class="control-group">
                <label class="control-label" for="lastname">Last Name</label>
                <div class="controls">
                    <input class="input-large" id="lastname" type="text" name="lastname" value="<%= @p.lastname.capitalize %>" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    <input class="input-large" id"email" type="text" name="email" value="<%= @p.email %>" /> 
                </div>
            </div>
            <span id="spanemail"></span>

            <div class="control-group">
                <label class="control-label" for="prepassword">Previous Password</label>
                <div class="controls">
                    <input class="input-large" id="prepassword" type="password" name="password" placeholder="previous password" />
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label" for="newpassword">New Password</label>
                <div class="controls">
                    <input class="input-large" id="newpassword" type="password"  name="newpassword" placeholder="new password" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="location" >Location</label>
                <div class="controls" >
                    <input class="input-large" type="text" name="location" value="<%= @p.geoloc %>"id="location" placeholder="City, State or Zip" />
                </div>
            </div>
            <input type="hidden" name="lat" value="" id="lat" />
            <input type="hidden" name="lng" value="" id="lng" />
            <input type="hidden" name="geoloc" value="" id="geoloc" />
        
            <div class="control-group">
                <label class="control-label" for="propic">Profile Picture</label>
                <div class="controls">
                    <input class="input-large" id="propic" type="text"  name="propic" value="<%= @p.propic %>" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="interest">Interests</label>
                <div class="controls">
                    <select id="interest" name="interest" style="width: 210px">
                        
                        <% @interests.each do |interest| %>
                            <option value="<%= interest.keyword %>"><%= interest.keyword %></option>
                        <% end %>

                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="teach">Would you like to teach?</label>
                <div class="controls">
                    <% if @p.teacher == true %>
                        <label class="radio">
                            <input type="radio" name="teach" id="optionsRadios1" value="true" checked>
                                Yes
                        </label>
                        <label class="radio">
                            <input type="radio" name="teach" id="optionsRadios2" value="false">
                                No
                        </label>
                    <% else %>
                        <label class="radio">
                            <input type="radio" name="teach" id="optionsRadios1" value="true">
                                Yes
                        </label>
                        <label class="radio">
                            <input type="radio" name="teach" id="optionsRadios2" value="false" checked>
                                No
                        </label>
                    <% end %>
                </div>
            </div>
                
                <div class="form-actions" style="padding-left: 10px;">
                    <button type="submit" id="submitButton" hidden></button>
                    <button type="button" id="fake" class="btn btn-primary">Save changes</button>
                    <a type="button" class="btn" href="/profile">Cancel</a>
                </div> 
            </div>
            
 
            
            
            
        
        </form>
    </div>
</div>
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false&key=<%= @google_map_key %>">
</script>
<script>

    function initialize() {
        // create the geocoder
        geocoder = new google.maps.Geocoder();
    }
 
    // when page is ready, initialize the map!
    google.maps.event.addDomListener(window, 'load', initialize);

    // add location button event
    $("#fake").click(function(e){
        
        // get the location text field value
        var loc = $("#location").val();

        console.log("user entered location = " + loc);
        
        geocoder.geocode( { 'address': loc }, function(results, status) {
            alert("is this running " + status);
            if (status == google.maps.GeocoderStatus.OK) {
 
                // log out results from geocoding
                console.log("geocoding results");
                console.log(results);
        
                // preparing data for form posting
                var lat = results[0].geometry.location.lat();
                var lng = results[0].geometry.location.lng();
                var loc_name = results[0].formatted_address;
                $("#lat").val(lat);
                $("#lng").val(lng);
                $("#geoloc").val(loc_name);

                $("#submitButton").click();
            } else {
               alert("Try again. Geocode was not successful for the following reason: " + status);
            }
        });
        
    });
</script>
