
<div id="frame">

	
	<legend>COURSES
		<% if @addcourses %>
			<span style="float:right;"><a href="/addcourse">Add Course</a></span>
		<% end %>
	</legend>
	

<div class="row">
	<% @courses.each do |course| %>

		
			<a href="/courses/<%= course.title %>" class="link">
			<div class="span4">
			<div class="well classes">
				<h3 class="course-title"><%= course.title %></h3>
				<div class="img">
				<img src="<%=course.coursepic %>" width='300' />
				</div>
				<p>
					<% course.interests.each do |interest| %>

						<span class="label"><%= interest.keyword %></span>

					<% end %>
				</p>
				<div class="teacher">
					<h5>by: <%= course.teacherName %></h5>
					<h5>Location: <%= course.location %></h5>
				</div>
				<p class="desc"><%= course.description %></p>


				<div class="row">
					<div class="span2">
				<h6><%= course.date.strftime("%A %m/%d/%y") %></h6>
			</div>
				
		</div>
				
			</div>
		</div>
		</a>
		
	
	<% end %>
	</div>

	<% if @addcourses %>

	<h2>
		
	</h2>

	<% end %>

</div>


<script>

$(document).ready(function(){

$('.well').mouseover(function(){
	var tagIndex = $('.well').index(this)
$('.teacher').eq(tagIndex).css({'background-color': '#cfcfcf' ,'-webkit-transition': 'background 0.15s linear'} )
}).on('mouseout', function(){
	var tagIndex = $('.well').index(this)
$('.teacher').eq(tagIndex).css({'background-color': '#f5f5f5','-webkit-transition': 'background 0s linear'})
})
})
</script>
