<div id="frame">

    <div class="span6" id="map-canvas"></div>
	       
    <div class="span6" style="float:right; margin-left: 5px;">
        <legend>What Can I Learn?</legend>
	    <div class="well indexCourses" style=" padding: 8px 0; ">

        	<div class="" style="overflow-y: scroll; overflow-x: hidden;">
        	    <ul class="nav nav-list">
	                <% i = 0 %>
				    <% @classes.each do |course| %>

        			    <li><label class="tree-toggler nav-header"><%= course.title %><div class="pull-right"><%= course.interest %></div></label>

        			        <ul class="nav nav-list tree">
                                <li><%= course.description %></li>
        			            <li><a href="/courses/<%= course.title %>">Read More</a></li>
        			        </ul>
        			    </li>
                        <% i+=1 %>
                        <% if i < @count %> 
        			        <li class="divider"></li>
                        <% end %>
        			<% end %>

        		</ul>
        	</div>
	    </div>
    </div>


<!-- THIS RUNS THE CLASSES ON THE RIGHT -->
<script>
    $(document).ready(function () {
        $('ul.tree').toggle(300);

        $('label.tree-toggler').click(function () {
            $(this).parent().children('ul.tree').toggle(300);
        });
    });
</script>

<!-- THIS RUNS THE GOOGLE MAPS -->
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false&key=<%= @google_map_key %>">
</script>
<script type="text/javascript">

function initialize() {
    // create the geocoder
    geocoder = new google.maps.Geocoder();

    var mapOptions = {
      center: new google.maps.LatLng(40.74649,-74.0094),
      zoom: 7,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    // create the map
    map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

    // this is a custom function for the demo, uncomment when ready.
    // fetch the existing places and put them on the map
    // fetchPlaces();
}

// set page ready trigger
google.maps.event.addDomListener(window, 'load', initialize);

</script>

</div>
