<div class="container" >

    <div class="row clearfix" >
        <legend>
            <%= @page_heading %> 
        </legend>

        <div class="well">
            <div class="row">
                <div class="span1"><a  class="thumbnail"><img src=<%= @p.propic %> alt=""></a></div>
                    <div class="span6">
                        <% if @p.teacher == true %>
                            <p>teacher</p>
                        <% else %>
                            <p>learner</p>
                        <% end %>
                        <p><strong><%= @p.firstname.capitalize %> <%= @p.lastname.capitalize %></strong></p>
                        <p><%= @p.email %></p>
                        
                        <label style="">Interests</label>
                        <legend></legend>
                            <% if @p.interests.first %>
                                <% @p.interests.each do |interest| %>
                                    <p>
                                        <!-- TODO: MAKE IT SO THAT THERE CAN BE MORE THAN ONE INTEREST -->
        
                                        <%= interest.keyword %> 
                                    </p>
                                <% end %>
                            <% end %>
                        <span class="badge badge-warning"><a href="/inbox"><%= @p.getInbox.count %> messages</a></span> <span class="badge badge-info"><%= @p.getFollowers %> followers</span>
                        <div class="control-group" style="margin-top: 10px;">
                            <label class="control-label" ></label>
                            <div class="controls">
                                <a class="btn btn-primary" href="/changeprofile">Change Profile</a>
                                <a class="btn" href="/courses">Check Out Classes</a>
                            </div>
                        </div>
                        
                </div>
            </div>
        </div>
    </div>
</div>
