<div class="hero-unit span9">
	<div>
		<div>
			<p>
				<legend><a href=""><%= @this_person.name %></legend>
			</p>
		</div>
	</div>
	<div class="row span9">
		
		<div class="row">
			<div class="span3" >
					<a class="thumbnail">
						<p style="margin: 0 0 0px;">
							<img src="<%= @this_person.propic %>" alt="">
						</p>
					</a>
			</div>
			<div class="span6">
				<div class="row">	
					<!-- ABOUT ME SECTION -->
					<span class="span3">
						<span class="row">
						<legend style="margin-bottom:10px; font-size:20px">
							About Me
						</legend>
						</span>
						<span class="row" style="overflow-y: auto">
							<%= @this_person.aboutme %>
						</span>
					</span>
					<span class="span3" style="float: right; text-align: center">
						<div class="row" style="padding-top:10px; padding-bottom:10px">
							Teacher Rating: <%= @this_person.curTotRating %>
						</div>
						<% if !@browser %>
							<div class="row" style="padding-top:10px; padding-bottom:10px">
								<a class="btn" id="follow">
									Follow Me
								</a>
							</div>
							<div class="row" style="padding-top:10px; padding-bottom:10px">
								<a class="btn" id="message">
									Message Me
								</a>
							</div>
						<% else %>
							<!-- Here's where we'll get people to join -->

						<% end %>
					</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span3">
				<div class="row">
					<span class="span3" style="float: left; text-align: center">
						<legend style="margin-bottom:10px">
							Interests
						</legend>
					</span> 
				</div>
				<div class="row">
					<div class="span3">
						<% @this_person.interests.each do |interest| %>

							<a href="/interests/<%= interest.keyword %>">
								<span class="label label-info">
									<%= interest.keyword %>
								</span>
							</a>

						<% end %>
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="row">
						
					<span class="span3" style="float: left; text-align: center">
						<legend style="margin-bottom:10px">
							Enrolled Student
						</legend>
					</span> 
					<span class="span3"style="float: right; text-align: center">
						<legend style="margin-bottom:10px">
							Enrolled Teacher
						</legend>
					</span>
						
				</div>
				<div class="row">
					<span class="span3" style="float: left; font-size: 12px; text-align: center; line-height: 14px">
						<% stuClasses = @this_person.getStuClasses %>
						<% stuClasses.each do |course| %>
							<p>
								<a href="/courses/<%= course.title %>">
									<%= course.title %>
								</a>
							</p>
						<% end %>
					</span>
					<span class="span3" style="float: left; font-size: 12px; text-align: center; line-height: 14px">
						<% teachClasses = @this_person.getTeachClasses %>
						<% teachClasses.each do |course| %>
							<p>											
								<a href="/courses/<%= course.title %>">
									<%= course.title %>
								</a>
							</p>
						<% end %>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

var follow = $('#follow');
var message = $('#message');


$(document).ready(function(){
	follow.click(function(){
		followAjax('follow');
	});
	message.click(function(){
		messageModal();
	});

	<% if @aFollower %>
		follow.addClass('btn-primary');
		follow.html('Following');
	<% end %>

});

function messageModal() {
	// create the modal
	// grab the button data
	// send it to the data
	// create the ajax and send it
}

function followAjax() {
	data = {
		profile: '<%= @this_person.profile.slug %>',
		myemail: '<%= session[:email] %>'
	};

	$.ajax({
        url: '/ajax/follow',
        type: 'post',
        data: {
            'postinfo': data
        },
        complete: function(xhr, status) {
            console.log('Chat message sent. Result: ' + status + ' : ' + xhr.responseText);
        },
        success: function(result) {
        	if (result.following) { 
            	$('#follow').addClass('btn-primary');
            } else {
            	alert('problem with adding the follower');
            }
        }
    })
}


</script>