<div id="frame">
	
	
</div>

<div class="hero-unit span7">
	<div>

		<div>
			<p>
				<legend><a href="#"><%= @this_course.title %></a><span style="float: right;"><i class=""></i> <%= @this_course.date.strftime("%A %m/%d/%y") %></legend>
			</p>
		</div>
	</div>
	<div class="row">
	<div class="span3" >
			<div class="row">
			<a class="thumbnail">
				<p style="margin: 0 0 0px;">
					<img src="<%= @this_course.coursepic %>" alt="">
				</p>
			</a>
		</div>
		<div class="row">
			Seats Remaining: <%= @this_course.totstu %>
		</div>
		<div class="row">
			<p><a class="btn" href="/enrollclass">Join Class</a></p>
		</div>
		<div class="row">
			<p>
				<i class="icon-tags"></i> Tags :

				<% @this_course.interests.each do |interest| %>
					
					<a href="/interests/<%= interests.keyword %>">
						<span class="label label-info">
							<%= interest.keyword %>
						</span>
					</a>

				<% end %>
				
			</p>
		</div>
	</div>

		<div class="span4">

			<i class="icon-user"></i><a href="#"> <%= @this_course.teacherName %> </a>      
			<p>
				<%= @this_course.description %>
			</p>
		</div>
		</div>
	<div class="hero">
		
	</div>
	
			
			
	</div>
</div>


<!-- TO DO: change the class of course so that there can be a more unique way of identifying this class from other classes, preferably with a unique id instead of title. -->
<div class="span3" style="float:right; margin-left: 5px;">
	<legend>What Else?</legend>
	<div class="well indexCourses" style=" padding: 8px 0; ">

		<div class="" style="overflow-y: scroll; overflow-x: hidden;">
			<ul class="nav nav-list">

				<% i = 0 %>
				<% @courses.each do |course| %>

				<li><label class="tree-toggler nav-header"><%= course.title %><div class="pull-right"><!--= course.interests.keyword[0].keyword --></div></label>

					<ul class="nav nav-list tree">
						<li><%= course.description[0,20] + "..." %></li>
						<li><a href="/courses/<%= course.title %>">Read More</a></li>
					</ul>
				</li>
				<% i+=1 %>
				<% if i < @count %> 
				<li class="divider"></li>
				<% end %>
				<% end %>

			</ul>
		</div>
	</div>
</div>

<!-- THIS RUNS THE CLASSES ON THE RIGHT -->
<script>
$(document).ready(function () {
	$('ul.tree').toggle(300);

	$('label.tree-toggler').click(function () {
		$(this).parent().children('ul.tree').toggle(300);
	});
});
</script>
