<div class="hero-unit span9">
	<div>
		<div>
			<p>
				<legend><a href=""><%= @this_course.title %><span style="float: right;"><i class=""></i> <%= @this_course.date.strftime("%A %m/%d/%y") %></span></legend>
			</p>
		</div>
	</div>
	<div class="row span9">
		
		<div class="row">
			<div class="span3" >
					<a class="thumbnail">
						<p style="margin: 0 0 0px;">
							<img src="<%= @this_course.coursepic %>" alt="">
						</p>
					</a>
			</div>
			<div class="span6">
				<div class="row">	
					<!-- ABOUT ME SECTION -->
					<span class="span3">
						<span class="row">
						<legend style="margin-bottom:10px; font-size:20px">
							Description
						</legend>
						</span>
						<span class="row" style="overflow-y: auto; font-size:12px">
							<%= @this_course.description %>
						</span>
					</span>
					<span class="span3" style="float: right; text-align: center">
						<div class="row" style="padding-top:10px; padding-bottom:10px">
							
							Teacher Rating: 0
						</div>
						<div class="row">
							Seats Remaining: <%= @classCount %>
						</div>
						<% if !@aTeacher %>
							<% if @aStudent %> 
								<div class="row" style="padding-top:10px; padding-bottom:10px">
									<p><a href="/leaveclass/<%= @this_course.title %>" class="btn" >Leave Class</a></p>
								</div>
									<% if @this_course.started %>
										<div class="row" style="padding-top:10px; padding-bottom:10px">
											<p><a href="/livecourse/<%= @this_course.title %>" class="btn" >Join Live Class</a></p>
										</div>
									<% end %>
							<% elsif @classCount > 0  %>
								<div class="row" style="padding-top:10px; padding-bottom:10px">
									<p><a href="/enrollclass/<%= @this_course.title %>" class="btn" >Join Class</a></p>
								</div>
							<% elsif @classCount <= 0  %>
								<div class="row" style="padding-top:10px; padding-bottom:10px">
									<p>CLASS CLOSED</p>
								</div>
							<% elsif @browser %>
								<div class="row" style="padding-top:10px; padding-bottom:10px">
									<!-- Here's where we'll get people to join -->
								</div>
							<% end %>
						<% elsif @aTeacher %>
							<div class="row" style="padding-top:10px; padding-bottom:10px">
								<p><a href="/editcourse/<%= @this_course.title %>" class="btn" >Edit Class</a></p>
							</div>
							<div class="row" style="padding-top:10px; padding-bottom:10px">
								<p><a href="/startclass/<%= @this_course.title %>" id="startclass" class="btn" >Start Class</a></p>
							</div>
							<% if @this_course.classStart %>
								<div class="row" style="padding-top:10px; padding-bottom:10px">
									<p><a href="/startclass/<%= @this_course.title %>" id="startclass" class="btn" >Start Class</a></p>
								</div>
							<% end %>
						<% end %>
					</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span3">
				<div class="row">
					<span class="span3" style="float: left; text-align: center">
						<legend style="margin-bottom:10px">
							Interests
						</legend>
					</span> 
				</div>
				<div class="row">
					<div class="span3">
						<% @this_course.interests.each do |interest| %>
					
							<a href="/interests/<%= interest.keyword %>">
								<span class="label label-info">
									<%= interest.keyword %>
								</span>
							</a>

						<% end %>
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="row">
						
					<span class="span3" style="float: left; text-align: center">
						<legend style="margin-bottom:10px">
							Teacher's History
						</legend>
					</span> 
					<span class="span3"style="float: right; text-align: center">
						<legend style="margin-bottom:10px">
							Students Enrolled
						</legend>
					</span>
				</div>
				<div class="row">
					<span class="span3" style="float: left; font-size: 12px; text-align: center; line-height: 14px">
						<% teacher = @this_course.teacher %>
						<% courses = teacher.getTeachClasses %>
						<% courses.each do |course| %>
							<span class="row">
								<a href="/users/<%= course.title %>">
									<%= course.title %>
								</a>
							</span>

						<% end %>
					</span>
					<span class="span3" style="float: left; font-size: 12px; text-align: center; line-height: 14px">
						<% students = @this_course.students %>
						<% students.each do |student| %>

							<a href="/users/<%= student.profile.slug %>">
								<%= student.name %>
							</a>

						<% end %>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- TO DO: change the class of course so that there can be a more unique way of identifying this class from other classes, preferably with a unique id instead of title. -->
<div class="span3" style="float:right; margin-left: 5px;">
	<legend>What Else?</legend>
	<div class="well indexCourses" style=" padding: 8px 0; ">

		<div class="" style="overflow-y: scroll; overflow-x: hidden;">
			<ul class="nav nav-list">

				<% i = 0 %>
				<% @courses.each do |course| %>
					
					<li><label class="tree-toggler nav-header"><%= course.title %>
						<% if course.interests[0] != nil  %>
							<div class="pull-right"><%= course.interests[0].keyword %></div>
						<% end %>
					</label></li>


					<ul class="nav nav-list tree">
						<li><%= course.description[0,20] + "..." %></li>
						<li><a href="/courses/<%= course.title %>">Read More</a></li>
					</ul>
				</li>
				<% i+=1 %>
				<% if i < @count %> 
				<li class="divider"></li>
				<% end %>
				<% end %>

			</ul>
		</div>
	</div>
</div>

<!-- THIS RUNS THE CLASSES ON THE RIGHT -->
<script>
$(document).ready(function () {
	$('ul.tree').toggle(0);

	$('label.tree-toggler').click(function () {
		$(this).parent().children('ul.tree').toggle(300);
	});
});

$("#startclass").click(function(){
	alert("are you sure you want to start it?");
})
</script>
