<div class="hero-unit span9">
	<div>
		<div>
			<p>
				<legend><a href=""><%= @this_person.name %></legend>
			</p>
		</div>
	</div>
	<div class="row span9">
		
		<div class="row">
			<div class="span3" >
					<a class="thumbnail">
						<p style="margin: 0 0 0px;">
							<img src="<%= @this_person.propic %>" alt="">
						</p>
					</a>
			</div>
			<div class="span6">
				<div class="row">	
					<!-- ABOUT ME SECTION -->
					<span class="span3">
						<span class="row">
						<legend style="margin-bottom:10px; font-size:20px">
							About Me
						</legend>
						</span>
						<span class="row" style="overflow-y: auto; font-size: 12px; margin-left: 0px">
							<%= @this_person.aboutme %>
						</span>
					</span>
					<span class="span3" style="float: right; text-align: center">
						<div class="row" style="padding-top:10px; padding-bottom:10px">
							Teacher Rating: <%= @this_person.curTotRating %>
						</div>
						<% if !@browser %>
							<div class="row" style="padding-top:10px; padding-bottom:10px">
								<a class="btn" id="follow">
									Follow Me
								</a>
							</div>
							<div class="row" style="padding-top:10px; padding-bottom:10px">
								<a class="btn" id="message">
									Message Me
								</a>
							</div>
						<% else %>
							<!-- Here's where we'll get people to join -->

						<% end %>
					</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span3">
				<div class="row">
					<span class="span3" style="float: left; text-align: center">
						<legend style="margin-bottom:10px">
							Interests
						</legend>
					</span> 
				</div>
				<div class="row">
					<div class="span3">
						<% @this_person.interests.each do |interest| %>

							<a href="/interests/<%= interest.keyword %>">
								<span class="label label-info">
									<%= interest.keyword %>
								</span>
							</a>

						<% end %>
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="row">
						
					<span class="span3" style="float: left; text-align: center">
						<legend style="margin-bottom:10px">
							Enrolled Student
						</legend>
					</span> 
					<span class="span3"style="float: right; text-align: center">
						<legend style="margin-bottom:10px">
							Enrolled Teacher
						</legend>
					</span>
						
				</div>
				<div class="row">
					<span class="span3" style="float: left; font-size: 12px; text-align: center; line-height: 14px">
						<% stuClasses = @this_person.getStuClasses %>
						<% stuClasses.each do |course| %>
							<p>
								<a href="/courses/<%= course.title %>">
									<%= course.title %>
								</a>
							</p>
						<% end %>
					</span>
					<span class="span3" style="float: left; font-size: 12px; text-align: center; line-height: 14px">
						<% teachClasses = @this_person.getTeachClasses %>
						<% teachClasses.each do |course| %>
							<p>											
								<a href="/courses/<%= course.title %>">
									<%= course.title %>
								</a>
							</p>
						<% end %>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

var follow = $('#follow');
var message = $('#message');
var data = {};


$(document).ready(function(){
	follow.click(function(){
		followAjax('follow');
	});
	message.click(function(){
		messageModal();
	});

	<% if !@me %>
		<% if @aFollower %>
			follow.addClass('btn-primary');
			follow.html('Following');
			data = {
				profile: '<%= @this_person.profile.slug %>',
				myemail: '<%= session[:email] %>',
				following: true
			};
		<% else %>
			data = {
				profile: '<%= @this_person.profile.slug %>',
				myemail: '<%= session[:email] %>',
				following: false
			};
		<% end %>
	<% else %>
		follow.hide();
		message.hide();
	<% end %>

});

function messageModal() {
	// create the modal
	// grab the button data
	// send it to the data
	// create the ajax and send it
	var customModal = $(
		'<div class="custom-modal modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">' +
			'<div class="modal-header">' + 
				'<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>' +
			'</div>' +
			'<div class="modal-body">' + 
				'<div class="row span6" style="width: 100%; margin-left: 0px" >' +
					'<%= @this_person.name %>' +
				'</div>' +
				'<div class="row span6">' +
					'<div class="control-group">' +
          				'<label class="control-label" for="subject" >SUBJECT</label>' +
          				'<div class="controls" >' +
              				'<input class="input-large" id="subject" type="text" name="subject" value="" />' +
          				'</div>' +
      				'</div>' +
      			'</div>' +
			'</div>' +
			'<div class="row span6" style="width: 100%; margin-left: 0px" >' +
				'<input type="textarea" style="width: 100%" id="messagebody"></textarea>' +
			'</div>' +
			
			'<div class="modal-footer">' +
				'<button class="btn" data-dismiss="modal">' + 
					'Close' + 
				'</button>' + 
			'</div>' + 
		'</div>');


    $('body').append(customModal);
    $(this).find($('h3')).clone().appendTo('.custom-modal .modal-header');
    $(this).find('.device-product, .device-details').clone().appendTo('.custom-modal .modal-body');
    $('.custom-modal .hide').show();
    $('.custom-modal').modal();
  
  	$('.custom-modal').on('hidden', function(){
 		console.log("hidden");
    	$('.custom-modal').remove();
	
});
}

function followAjax() {

	$.ajax({
        url: '/ajax/follow',
        type: 'post',
        dataType: "json",
        data: {
            'postinfo': data
        },
        complete: function(xhr, status) {
            console.log('Chat message sent. Result: ' + status + ' : ' + xhr.responseText);
        },
        success: function(result) {
        	;
        	//alert("result is " + result);
        	console.log(result);

        	if (result.activity.following) { 
        		data.following = true;
            	follow.addClass('btn-primary');
            	follow.html('Following');
            } else if (result.activity.notfollowing){
            	data.following = false;
            	follow.removeClass('btn-primary');
            	follow.html('Follow Me');
            } else if (result.activity.me) {
            	data.following = false;
            	follow.hide();
            	message.hide();
            }
        }
    })
}


</script>